* {
  box-sizing: border-box;
  font-family: "Segoe UI", monospace;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #031a14, #000);
  color: #00ffcc;
}

.container {
  max-width: 850px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #00ffcc33;
  border-radius: 14px;
  box-shadow: 0 0 40px #00ffcc22;
}

h1 {
  text-align: center;
  color: #00ffcc;
}

.subtitle {
  text-align: center;
  opacity: 0.8;
}

textarea {
  width: 100%;
  height: 130px;
  background: #02110d;
  color: #00ffcc;
  border: 1px solid #00ffcc55;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  background: linear-gradient(90deg, #00ffcc, #00b3ff);
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

#report {
  margin-top: 30px;
  border-top: 1px solid #00ffcc44;
  padding-top: 20px;
}

.threat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.badge {
  padding: 5px 14px;
  border-radius: 20px;
  font-weight: bold;
}

.low { background: #00ff9c; color: #000; }
.medium { background: #ffae00; color: #000; }
.high { background: #ff3b3b; color: #fff; }

.bar {
  width: 100%;
  height: 14px;
  background: #022;
  border-radius: 10px;
  overflow: hidden;
}

#barFill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ff9c, #ff3b3b);
  transition: width 0.6s ease;
}

.section {
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 6px;
}
